.book__link {
  text-decoration: none;
  color: black;
  border: 2px solid black;
  padding: 10px;
}
.book__buy {
  margin: 30px 0px 30px 10px;
}
.book {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 0px 30px 10px;
  border: 2px solid;
}
body {
  padding: 0;
}
